@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@model _367_project_repo_destroyersofevil.Models.LoginViewModel

@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to the Fitness App</h1>

<form asp-controller="Account" asp-action="Login" method="post">
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" type="password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Login</button>
</form>

<p>
    Don't have an account? <a asp-controller="Account" asp-action="Register">Register here</a>
</p>


