@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to the Workout Generator!</h1>
<p>Start building your personalized workouts today.</p>

<a class="btn btn-primary" href="/Workout">Browse Exercises</a>
